.navbar{
    background-color: #2f6f7c;
    color: white;
}
.navbar-link{
    color: white;
}

.brand-name{
    color: whitesmoke;
    padding-left: 75px;
}

@media only screen and (max-width:688px) {
    .brand-name{
        padding-left: 10px;
    }
}

@media only screen and (min-width:688px) and (max-width:991px) {
    .brand-name{
        padding-left: 0px; 
    }
}