.form {
  
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 100px;
  }
  
  .form > h1 {
    margin-bottom: 30px;
  }
  
  .form > input,
  textarea {
      
      width: 300px;
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 400px;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: rgb(0, 0, 32);
    font-weight: bold;
  }
  
  
  
  .contact-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
  .adress-list{
     margin:auto;
     margin-top: 50px;
  }
  
  @media only screen and (max-width:688px) {
    .contact-container{
        grid-template-columns: repeat(1,1fr);
        margin:auto;
    }
    .form{
      margin: auto;
      margin-bottom: 30px;
    }
    .adress-list{
      margin-top: 50px;
     margin:auto
     }
  }
  
  @media only screen and (min-width:688px) and (max-width:991px) {
    .contact-container{
        grid-template-columns: repeat(2,1fr);
        margin:auto;
    }
    .form{
      margin: auto;
    }
    .adress-list{
      margin-top: 100px;
     margin:auto
     }
    
  }