
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');

.popular-offers{
    display: grid;
grid-template-columns: repeat(3,1fr);
 
margin-left: 160px;
margin-right: 60px;
margin-top: 50px ;

} 


.home-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* margin: auto; */
    /* align-items: center; */
}


@media only screen and (max-width:688px) {
    .popular-offers{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        
    }
    
}

@media only screen and (min-width:688px) and (max-width:991px) {
    .popular-offers{
        grid-template-columns: repeat(2,1fr);
        margin:auto;
    }
    
}

